body {
font-family: Georgia, 'Times New Roman', Times, serif;
background-color: antiquewhite;
}

header {
  background-color: antiquewhite;
  padding: 1em;
}

/* nav bar styling starts below */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:black;
}


li {
  float: left;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

/* nav bar styling ends*/

.value {
 font-weight: bold;
}


.text_bubble {
background-color: white;
padding:2em;
margin:2em;
padding: 2em;
}

.text_box {
 background-color: white;
 padding:2em; 
}



.footer {
  text-align: center;
  padding: 3px;
  background-color: black;
  color: white;
