.kiaora {
padding-right: 50%;
}

.footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:black;
  text-align: center;
}

#site-header {
  font-size: 100px;
  font-family:Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 8px #0004ff;
}


body {
  background-color: bisque (241, 241, 247) (253, 252, 250);
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px;
}

h1 {
  font-size: 100px;
  
}
/* nav bar styling starts below */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
/* nav bar styling ends*/


h2 {
  font-size: 50px;
}

h3 {
   font-size: 25px;
   border: #111;
}

p {
  font-size: medium;
}


nav {
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
}

img {
  width: 50%;
  height: auto; 
}

.value {
 color: blue;
 font-weight: bold;
}


